@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  html{
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
  }
  
  .hamburguer {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .show-menu .hamburguer {
    right: 16rem;
  }
  
  .line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
  }
  
  .show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
  }
  .show-menu #line2 {
    opacity: 0;
    visibility: hidden;
  }
  .show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
  }
  
  .hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1bc0d;
    color: #000000;
    font-family: var(--font-action);
    opacity: 0;
  }
  
  .hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #f1bc0d;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span {
    opacity: 1;
  }

.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(91, 1, 194);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    animation: zoom 5s;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    left: 15%;
    top: 30%;
    
}

.banner h1{
    color: rgb(255, 208, 0);
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    font-weight: 600;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.384);
    margin-bottom: 0.2rem;
    animation: bannerMove 1s forwards;
}

.banner p{
    font-family: 'Secular One', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.384);
    margin-bottom: 3rem;
    animation: bannerMove 1s forwards;
    opacity: 0;
}

.banner button{
    font-family: 'Secular One', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    color:whitesmoke;
    background: #FF0099;  /* fallback for old browsers */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: 5px;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.596);
    cursor: pointer;
    opacity: 0;
    animation: bannerMove 1s forwards;
}

.banner button:hover{
    opacity: 0.8;
    color: rgba(255, 230, 0, 0.788);
}

@keyframes bannerMove {
    0%{
        transform: translatex(6rem) rotatex(-360deg);
    }
    100%{
        transform: translatex(0rem) rotatex(0deg);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background: #FF0099;  /* fallback for old browsers */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
  }
  
  .show-menu .sidebar {
    left: 0;
  }
  
  .menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menu-item {
    text-align: center;
    margin-top: 2rem;
  }
  
  .menu-link {
    font-family: 'Lobster', cursive;
    letter-spacing: .0rem;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    transition: color 1s;
    
  }
  
  .menu-link:hover {
    color: rgba(255, 230, 0, 0.788);
  }
  
  .social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-media i {
    background-color: #6a3093;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
  }
  
  .social-media i:hover {
    background-color: #a044ff;
  }
