@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  box-style: border-box;
}

:root {
  --clr-background: #FF0099;
  --clr-base: #ffffff;
  --clr-primary: #000000;
  --clr-gray: #263238;
  --font-size: 16px;
  --border-radius: 0.2em;
}

body {
  margin: 0;
  font-family: 'Secular One', sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-gray);
  font-size: var(--font-size);
}

#wrapper-main {
  margin: 2em;
}

.navbar {
  width: 100vw;
  background-color: var(--clr-primary);
  margin: 0;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 3em;
  padding: 0;
}
.navbar ul li {
  padding-right: 2em;
  font-weight: bold;
  color: var(--clr-base);
}
.navbar li:first-child {
  margin-right: auto;
  margin-left: 2em;
}
.navbar svg {
  fill: var(--clr-base);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.header h1 {
  margin-bottom: 1em;
}

#wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
}

.container {
  background-color: var(--clr-base);
  border-radius: var(--border-radius);
  padding: 1em;
  border-top: 4px solid var(--clr-primary);
}
.container h2 {
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  font-family: 'Secular One', sans-serif;
}

@media screen and (max-width: 550px) {
  body {
    --font-size: 14px;
  }

  #wrapper-grid {
    grid-template-columns: 1fr;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1.5em;
  }
  .header h1 {
    margin: 0.5em 0;
  }
  